
.spaced{
    margin: 2%;
}
.reset_btn{
    margin-left: 1%;
}
header{
    border-bottom: 12px;
}
header.nav{
    background: palegreen;
    color: #000;
    height: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.link{
    font-size: xx-large;
    color: #0a0a0a;
}
.page-content{
    display: block;
    /*text-align: center;*/
}
.demo-icon{
    height: 50px;
    width: 50px;
    margin-top: 0;
    margin-bottom: 15%;
}
.demo-avatar{
    border-radius: 50%;
    height: 70px;
    width: 70px;
}
#accbtn{
    height: 60px;
    width: 60px;
    margin-bottom: 20%;
}

.menu{
   position: absolute;
    left: 12px;
}
.mdl-layout--right{
    display: block;
    float: right;
}


