
.spaced{
    margin: 2%;
}
.reset_btn{
    margin-left: 1%;
}
header.nav{
    background: #000;
    height: 20%;
    padding-top: 6%;
}
.page-content{
    display: block;
    /*text-align: center;*/
}

.demo-avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
#accbtn{
    height: 60px;
    width: 60px;
    margin-top: 0.2%;
    margin-bottom: 5%;
}

.menu{
   position: absolute;
    left: 12px;
}


