
.spaced{
    margin: 2%;
}
.reset_btn{
    margin-left: 1%;
}
header{
    border-bottom: 12px;
}
header.nav{
    background:#000;
    color: #C0C0C0;
    height: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
    z-index: 1;
}
.link{
    font-size: 32px;
    color: green;
}
.page-content{
    display: block;
    /*text-align: center;*/
}
.demo-icon{
    height: 50px;
    width: 50px;
    margin-top: 0;
    margin-bottom: 15%;
}
.demo-avatar{
    border-radius: 50%;
    height: 70px;
    width: 70px;
}
#accbtn{
    height: 60px;
    width: 60px;
    margin-bottom: 20%;
}

.menu{
  z-index: 100;
}
.mdl-layout--right{
    display: block;
    float: right;
}

.cont-box{
  display: block;
  text-align: center;
}
//bills CSS

body{
    height: 100%;
    background: #e5e5e5;
    font-family: 'Open Sans Condensed', sans-serif;
}
ul{
    list-style: none;
}
span{
    color: aliceblue;
    font-size: 1.5em;
}
header{
    width: 100%;
    height: 100px;
    background: #fff;
    border-bottom: 1px solid #000;
}
section#intro{
    text-align: center;
    background-image: url(http://arsen-s.com/identity/images/slide4.png.pagespeed.ce.JOYstOlxXR.png);
    background-size: cover;
    background-repeat: no-repeat;

}
header ul{
    list-style: none;
    margin-top: 40px;
}
header ul li{
    font-size: 1.13em;
    display: inline-block;
    margin: 10px;
    color: aliceblue;
}
header  ul li a{
    color: green;
    text-decoration: none;
}
footer{
    height: auto;
    text-align: center;
    color: #fff;
    background: #263238;
    margin-bottom: 0;
}
/*look back at it*/
/*header ul>li:nth-child(1){
    color: #fff;

}
header ul >li:nth-child(2){

}*/
header img{
    margin-top:10%;
}


/*---------------------------------------------/
                    CLASSES STYLES
/--------------------------------------------*/

section.first {
    text-align: center;
	background: #fff;

}
.row.hero {
	padding-top: 10%;
    padding-bottom: 21.5%;
}
/*.row.hero ,#txt p{
    color: aliceblue;
    font-size: 1.5em;
}*/
.row.works {
	padding: 10% 0;
}
.row.works span{
    color: #000;
}
.row.works p{
    font-size: 1.3em;
}
.row.foot{
    padding: 3% 0;
    font-weight: 100;

}
.btn.mdm.sqr{
   border-radius: 0px;
   padding: 2% 20%;
}
.btn.mdm.sqr.login{
  display: block;
  text-align: center;
  border-radius: 0px;
  height: auto;
  margin: 12% 12% 12% 12%;
  /*padding: 1.5% 15%;*/
}
.btn.mdm {
    border: 1px solid green;
    border-radius: 3px;
    font-size: 1.8em;
    font-weight: 500;
    color: #fff;
    margin-top: 10%;
    padding: 1% 10%;
    background: green;
    transition: all .4s ease;

}

.btn.mdm:hover{
    background: transparent;
    border-color: green;
    color: green;

}
.reg{
  margin-bottom: 50px;
}
.first ul{
    list-style: none;
}
.first ul li{
    padding: 0 30px;
    display: inline-block;
    margin:5% 6%;
}
ul.info {
	list-style: none;
}
.info li{
    padding: 1% 0;
}
ul.connect{
    list-style: none;
}
.connect li{
    padding: 1% 0;
}
ul.social{
    list-style: none;
}
.social li{

    display: inline-block;
    padding: 0.5% 2%;
}
.port {
	text-align: center;

    padding: 50px;
    margin: 5px 0px;

}
.port ul{
    list-style: none;
    margin: 20px;
}
.btn.view {
    border: 1px solid grey;
	padding: 15px ;
    color: green;
}
.bio {
	margin-bottom: 30px;
}

.post {
    padding-top: 10px;
	height: 50px;
    background: #37474F;
}
.post a:hover{

}
a.btn.postjob {

	color: #fff;
}
a.btn.postjob:hover{
    color: greenyellow;
}
/*---------------------------------------------/
                    ID STYLES
/--------------------------------------------*/
#intro p {
    font-size: 2em;
    margin-top: 5%;
}
#txt {
	color: aliceblue;
}
//Ben CSS
.hed{
	background: #FFFFFF;
	width: 100%;
	height: auto;
	margin-bottom: -20px;
}
.headerbar{
	background: #FFFFFF;
}
.header-bar{
	background: #FFFFFF;
	color: #000000;
	width: 100%;
	height: auto;
	margin-top: 10px;
    margin-bottom: 20px;

}
.body-large{
	background: #F9F9F9;
	color: #7D7D7D;
           width: 100%;
           height: auto;
           border-top: 1px #7D7D7D solid ;
}
.ask-text{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: small;
	color: #7D7D7D;
}
.ask-text-login{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: small;
	color: #6FDA44;
	margin-left: 50px;
}

.ask-text-one{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: small;
	color: #7D7D7D;
    cursor: pointer;
}
.ask-text-login-one{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: small;
	color: #6FDA44;
	margin-left: 50px;
    cursor: pointer;
}
.ask-text-login-profile{
    font-family: 'Open Sans Condensed', sans-serif;
	font-size: small;
	color: #6FDA44;
	margin-left: 50px;
    cursor: pointer;
}

.ask-text-one:hover{
   font-size: 20px;
    text-decoration: underline;
    text-decoration-color: #6FDA44;
	text-decoration-style: wavy;

}
.ask-text-login-one:hover{

     font-size: 20px;
    text-decoration: underline;
    text-decoration-color:  #7D7D7D;
	text-decoration-style: wavy;
}

.ask-text-login-profile:hover{

     font-size: 20px;
    text-decoration: underline;
    text-decoration-color:  #7D7D7D;
	text-decoration-style: wavy;
}

.bodylargetext{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:30px;
	color: #7D7D7D;
}
.Destiny{
	text-align: center;
	margin-top: 30px;
}
.Destiny2{
	text-align: center;
	    margin-left: 40%;

}
.blocksome{
	margin-top: 40px;
	margin-left: 30%;
}
.texthire{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:30px;
	color: #7D7D7D;
	margin-left: 10%;
}
.dtext{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:small;
	color: #000;
	margin-left: 30%;
}
.tango{
      background: #6FDA44;
    width: 100px;
    height: 30px;
    color: white;
    padding-left: 40px;
    padding-top: 5px;
    cursor: pointer;
    margin-left: 27%;
}
.tango:hover{
	 background: #008329;
}
.or{
	margin-top: 100px;
}
.footer-large{
	background: #494949;
	width: 100%;
	height: 80px;
	color: white;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;

}
 #myOverlay1 {
                width:600px;
                height:400px;
            }
  #myOverlay4 {
                width:600px;
                height:400px;
            }
            #myOverlay2 {
                width:50%;
                height:25%;
                	font-family: 'Open Sans Condensed', sans-serif;
                margin-left: 30%;
            }
            #myOverlay3 {

            }
.github{
background: #2B2B2B;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 150px;
    height: 40px;
    padding-left: 30px;
padding-top: 10px;
    margin-left: 0px;
    cursor: pointer;

}
.github:hover{
    background: white;
   color: #7D7D7D;
    border: 0.5px solid #7D7D7D;

}
.popupcontent{
     margin-left: 30px;
}
.menutitlebar{
background: #494949;
    height: auto;
    color: white;
     font-family: 'Open Sans Condensed', sans-serif;
}
.menuitem{
   cursor: pointer;
}
.ltext-one{
   height: auto;
    color:  #494949;
     font-family: 'Open Sans Condensed', sans-serif;
}
.profile{

}
.titleprofile{
    font-size: 40px;
}
.textyprofile{
    font-size: 15px;
}
.btntexty{
    background: #6FDA44;
    height: 40px;
    width: 100px;
    color: white;
     font-family: 'Open Sans Condensed', sans-serif;
     text-align: center;
}
.textylarge{
   margin-left: 25%;
}
.tutslarge{
      font-family: 'Open Sans Condensed', sans-serif;
      color:  #494949;

}
.helptexttuts{
  border-top: 0.5px solid  #494949;
    margin-top: 10px;
     margin-bottom: 10px;
    font-size: 20px;
}
.tutssmall{
    margin-top: 20px;
      font-family: 'Open Sans Condensed', sans-serif;
    background: #fff;
    height: 150px;
    margin-bottom: 20px;

}
.circular {
	width: 75px;
	height: 66%;
	border-radius: 37.5px;
	-webkit-border-radius: 37.5px;
	-moz-border-radius: 37.5px;
	background: url(../img/index.jpeg) no-repeat;
	}
.name{
  position: absolute;
left: 22%;
bottom: 27%;
}
.profilebtn{
color:  #6FDA44;
cursor: pointer;
}
.profilebtn:hover{
    font-size:15px;
    text-decoration: underline;
    text-decoration-style: double;
}
.separator{
    color: #F9F9F9;
}
.footerhome{
background: #494949;
       font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    height: 75px;
    margin-top: 10px;
}
.wst{
      font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    color: #494949;
    margin-left: 30%;

}
.diff{
    font-weight:100;
    margin-left: 30%;
}
input[type=checkbox] {
display:none;
}

input[type=checkbox] + label
{
background: url("") no-repeat;
background-size: 50%;
height: 150px;
width: 250px;
display:inline-block;
padding: 0 0 0 0px;
}
input[type=checkbox]:checked + label
{
background: url("") no-repeat;
background-size: 50%;
height: 150px;
width: 250px;
display:inline-block;
padding: 0 0 0 0px;
}

.html5:hover{
    border: 0.1px solid #6FDA44;
}
.html5{
  background: url(../img/language-html5.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.js:hover{
    border: 0.1px solid #6FDA44;
}

.js{
  background: url(../img/language-javascript.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.android:hover{
    border: 0.1px solid #6FDA44;
}
.android{
  background: url(../img/android.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.ios:hover{
    border: 0.1px solid #6FDA44;
}
.ios{
  background: url(../img/apple-ios.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.php:hover{
    border: 0.1px solid #6FDA44;
}
.php{
  background: url(../img/language-php.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.python:hover{
    border: 0.1px solid #6FDA44;
}
.python{
  background: url(../img/language-python.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.linux:hover{
    border: 0.1px solid #6FDA44;
}
.linux{
  background: url(../img/linux.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.chash:hover{
    border: 0.1px solid #6FDA44;
}
.chash{
  background: url(../img/language-csharp.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.btnprofile{
    height: 40px;
    background: #6FDA44;
      font-family: 'Open Sans Condensed', sans-serif;
    color: white;

}
.btnprofilelarge{
   padding-left: 30%;
    cursor: pointer;
}
.btnprofile:hover{
    background: #008329;
}
.bpl{
  margin-left: 15%;
}
.emp{

  height: auto;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;


}
.emp-tab {
  height: auto;
  background: #FFFFFF;
    color: #494949;
      border: 0.5px solid #494949;

}
.empgreen{
  color: #6FDA44;
  cursor: pointer;
}
.empgrey{
    color: #494949;
     font-family: 'Open Sans Condensed', sans-serif;
}
.empgreen:hover{
  text-decoration: underline;
}
.empborder{
  border-bottom: 1px solid #494949;

}
.empred{
    color:red;
}
.empred:hover{
  text-decoration: underline;
}
.dashlinks{
  font-family: 'Open Sans Condensed', sans-serif;
  margin-left:30px;
  position:absolute;
  margin-top:10px;
 padding-top: 40px;

}
.tdash{
     color: #494949;
	  font-family: 'Open Sans Condensed', sans-serif;
	  font-size:26px;
}
.circles {
	width: 16.66667%;
     height:16.66667%;
border-radius: 64%;
	-webkit-border-radius: 37.5px;
	-moz-border-radius: 37.5px;
	background: url(../img/index.jpeg) no-repeat;
    margin-top: 20px;
	}
.ditems{
       font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
}
.dsubject{
      font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
}
.dloc{
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 15px;
}
.overview{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;

}
.porttop{
  font-family: 'Open Sans Condensed', sans-serif;
    color: #494949;
	text-align:center;
	background:#AFAFAF;
	width: 109.5%;
margin-left: -12px;
background-image:url(../img/Capture.PNG);
background-repeat:no-repeat;
}
.portborder{
border:1px solid #494949;
height:230px;
    margin-right: 20px;

}
.porpic{

width: 109.5%;
margin-left: -12px;
height:205px;
}
#searchkey{
border: 2px solid rgb(73, 73, 73);
width: 40%;
color: rgb(73, 73, 73);
height:30px;
}
#searchkey:hover{
border: 2px solid #37A000;
}
#searchkey:focus{
border: 2px solid #37A000;
}
.workbody{
margin-top:60px;
}
.searchbar{
text-align:center;
}

#btnsearch{
height: 40px;
width: 100px;
background: rgb(55, 160, 0) none repeat scroll 0% 0%;
border: medium none;
color:#494949;
 font-family: 'Open Sans Condensed', sans-serif;
}

.rec{
border:1px solid  #494949;
 font-family: 'Open Sans Condensed', sans-serif;
 background:#FFF;
 }
 .jobtitle{
 color: #37A000;
 font-weight:bold;
  text-align: center;
 }
 .jobpay{
 margin-top:10px;
 color: #494949;
  text-align: center;
 }
 .atitle{

 font-weight:bold;
 margin-left:10px;
 }
 .jobdesc{
 margin-top:10px;
 font-weight:300;
  text-align: center;
 }
 .jobdetails{
 margin-top:20px;
  text-align: center;

 }
 .shaded{
 background:#9F9B9B;
 color:#494949;
 height:20px;
 width:40px;
 border-radius: 40px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	cursor:pointer;
 }
 .shaded:hover{
 background:#37A000;
 }
 .btnapply{
 background:#37A000;
 height:40px;
 text-align: center;
margin-left: 25%;
padding-top: 5px;
margin-top: 20px;
margin-bottom: 10px;
color:#494949;
cursor:pointer;
 }
 .job{
 border-bottom:1px solid black;
