{% extends 'Layout.html' %}

{% block content %}
<section id="intro">
    <div class="row hero">
      <div class="large-12  columns">
          <p id="txt"><span class="green">We connect developers and employers.<!--<br>Search for developers and build your company! We give them to you</span> <br>based on merit.</p>-->
          <p id="txt">Browse porfolios and job seekers</p>
          <a class="btn mdm sec" href="#">Get started</a>

        </div>
    </div>
    </section>
    <section class="first">
        <div class="row works">
            <div class="large-12 columns">
          <h2>How it works</h2>
                <p>Get the people you need fast.</p>
              <ul>
                  <li><span>Search</span><br> <img src="img/analys64.png"/> </li>
                  <li><span>Connect</span><br><img src="img/stick%20man161-64.png"/></li>
                  <li><span>Develop</span><br><img src="img/develop64.png"/></li>
              </ul>
      <h3>Find the best developers</h3>
     <!-- <p>Post a job, and shortlist developers skilled in respective areas who have applied for your job. Start your project effortlessly as you are connected with your developer.</p>-->
                 <a class="btn mdm sec" href="#">Get started</a>
              </div>
    </div>
    </section>
{% endblock %}
