{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'bower_components/foundation/css/foundation.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>





 <script type="text/javascript" src="{% static 'bower_components/jquery/src/jquery.js' %}"></script>
 <script type="text/javascript" src="{% static 'bower_components/foundation/js/foundation/foundation.js' %}"></script>
 <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
</body>
</html>