{% extends 'Layout.html' %}
{% block content %}
<br>
<div class="row">
        <div class="large-12 medium-12 small-12 columns">
            <div class="row divider">
                <div class="large-4 columns medium-4 columns small-4 columns">
                    <h4>My Profile</h4><br>
                    <img src="img/devBox-logo.png">
                </div>
                <div class="large-8 medium-8 small-8 columns prof">
                    <ul>
                        <li>Benson Mburu</li>
                        <li>Software engineer</li>
                        <li>Nairobi , Kenya</li>
                    </ul>
                </div>
            </div>
            <div class="row divider">
                <div class="large-12 medium-12 small-12 columns profile-bio">
                    <p>Bio of the developer goes here</p>
                </div>
            </div>

            {% if portfolio %}
                {% for item in portfolio %}
                    <div class="row profiles">
                        <div class="large-4 medium-4 small-4 columns">
                            <div class="card">
                                <div class="project-title">
                                    <h5>{{ item.title }}</h5>
                                </div>
                                <div class="project-image">
                                    <img src="/media/{{ item.image }}" alt="{{ item.image }}">
                                </div>
                                <div class="project-description">
                                    <p>{{ item.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

        </div>
    </div>
    <br>
    <br>
{% endblock %}
